body{
	overflow-x: hidden;
	height:700vh;
	font-family: 'Raleway', sans-serif;
}

.bgVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:-99;
}

.kiet_logo img{
	width:90px;
	margin-left:15px;
	margin-top:10px;
}


.menu{
	color:#fff;
	margin-right:3%;
	margin-top:-90px;
	float:right;
}

.menu div {
	position: relative;
  width: 48px;
  height: 3px;
  background-color: #fff;
  margin: 8px 0;
}

.overlay {
  font-family: 'Fugaz One', cursive;
  height: 0;
  width: 100%;
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,1); 
  overflow: hidden; 
  transition: 0.6s; 
}

.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 

  text-align: left; 
  margin-top: 30px;
  margin-left:5%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 3em;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  text-decoration: line-through;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}





.crow img{
	width:620px;
}

.crow{
	position: absolute;
	top:70px;
	left:30%;
}


.rann_logo{
	font-family: 'Rock Salt', cursive;
	font-size: 4em;
	color:#d34848;
	margin-left:170px;
}

.abt_rann{
background-color:#d34848;
transform: rotate(5deg);
position:absolute;
top:700px;
width:110%;
left:-45px;
height:400px;

}


.abt_rann div{
	transform: rotate(-5deg);
	margin-left:20px;
	
}

.abt_rann_txt{
	color:#fff;
	position: absolute;
	left:13%;
	top:150px;
	font-size: 3em;
}

.abt_rann_cont{
	position:absolute;
	left:45%;
	top:110px;
	width:400px;
	font-size:1.4em;
	text-align:justify;
	color:#fff;
}

.events_box{
	position:absolute;
	background-color:rgba(255,255,255,0.5);
	height:160vh;
	width:110%;
	left:-80px;
	top:1099px;
	transform: rotate(5deg);
}

.events_wrap{
	transform: rotate(-5deg);
}

.events_txt{
	background-color:#000;
	width:200px;
	height:50px;
	color:#fff;
	position:relative;
	left:40%;
	top:-40px;
	font-size:2.5em;
	padding: 10px;
	text-align:center;
	transform: skew(-18deg);

}


.events{
	position:relative;
	top:40px;
	width:90%;	
	margin-left:6%;
}

.events img{
	width:200px;
	border:1px solid #000;
	padding: 30px;
	margin-left:5%;
	margin-top:0.5%;
	box-shadow:6px 5px 2px 1px rgba(0,0,0,0.2);
	background-color:rgba(255,255,255,0.2);
}

.events img:hover{
	opacity:0.7;
	cursor:pointer;
}

.cricket{
	height:200px;
}

.chess{
	height:205px;
	width:150px !important;
	padding-left:55px !important;
	padding-right:55px !important;
}

.khokho{
	height:200px;
}

.volley{
	height:203px;
}


/*.pay_now{
	background-color:rgba(211,72,72,0.8);
	color:#fff;
	position: absolute;
	left:75px;
	top:120px;
	font-size:2em;
	padding-left:65px;
	padding-right:65px;
}*/
.img_cont{}

/*.paid{
	background-color:rgba(166, 203, 18,0.8);
	color:#fff;
	position: absolute;
	left:75px;
	top:120px;
	font-size:2em;
	padding-left:99px;
	padding-right:99px;
}*/

/**//**//**//**//**//**//**//**//**//**/
.sp_guest_box{
	position:absolute;
	background-color:rgba(255,255,255,0.7);
	width:110%;
	height:550px;
	left:-80px;
	top:2140px;
}



.sp_guest_txt{
	background-color:#000;
	width:280px;
	height:50px;
	color:#fff;
	position:relative;
	left:42%;
	top:-40px;
	font-size:2.5em;
	padding: 10px;
	text-align:center;
	transform: skew(-18deg);
	z-index:9;
}


.sp_guest_name{
	width:100%;	
	height:550px;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
 	display: flex;
 	position: absolute;
 	top:0px;
 	
}

.sp_guest img{
	width:200px;

}

.flex {
  flex: 1;
}
.hover:hover {
  flex:2;
  transition:0.3s;
}

/**//**//**//**//**//**//**//**//**//**/

/**//**//**//**//**//**//**//**//**//**/

.fun_events_box{
	position:absolute;
	background-color:rgba(255,255,255,0.7);
	width:110%;
	left:-80px;
	top:3190px;
}



.fun_events_txt{
	background-color:#000;
	width:280px;
	height:50px;
	color:#fff;
	position:relative;
	left:42%;
	top:-40px;
	font-size:2.5em;
	padding: 10px;
	text-align:center;
	transform: skew(-18deg);
	z-index:9;
}


.fun_events_name{
	width:100%;	
	height:550px;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
 	display: flex;
 	position: absolute;
 	top:0px;
 	
}

.fun_events img{
	width:200px;

}

.flex {
  flex: 1;
}
.hover:hover {
  flex:2;
  transition:0.3s;
}

/**//**//**//**//**//**//**//**//**//**/

.abt_kiet{
	background:url("images/kiet.jpg") fixed no-repeat;
	background-size:cover;
	position: absolute;
	top:2690px;
	width:100%;
	height:500px;
	left:0px;
	z-index:1;
}


.abt_kiet::before {
    content:"";
    display: block;
  	height:500px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(211, 72, 72,0.9);
    z-index:-1;
}

.abt_kiet_cont{
	font-size:2em;
	color:#fff;
	width:80%;
	text-align: justify;
	margin-left:8%;
	margin-top:80px;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.dir_msg{
	
	position: absolute;
	top:3890px;
	left:10%;
}

.dir_msg_cont{
	background-color:rgba(255,255,255,0.7);
	font-size:1.2em;
	width:60%;
	height:520px;
	margin-left:250px;
	padding-left:80px;
	padding-right:80px;
	padding-bottom:80px;
	text-align:justify;
	box-shadow:-7px 8px 20px 1px rgba(211, 72, 72,0.7);

}

.dir_msg_txt{
	margin-left:200px;
	font-size:1.6em;
}

.dir_pic{
	position: absolute;
	width:300px;
	height:340px;
	top:100px;
	box-shadow:-7px 8px 20px 1px rgba(211, 72, 72,0.7);
}


/*MSG from dir admin*/

.dir_ad_msg{
	
	position: absolute;
	top:4590px;
	left:-10%;
}

.dir_ad_msg_cont{
	background-color:rgba(255,255,255,0.7);
	font-size:1.2em;
	width:53%;
	height:460px;
	margin-left:350px;
	padding-left:30px;
	padding-right:80px;
	padding-bottom:80px;
	text-align:justify;
	box-shadow:8px 8px 20px 1px rgba(211, 72, 72,0.7);
}

.dir_ad_msg_txt{
	margin-left:250px;
	font-size:1.6em;
}

.dir_ad_pic{
	position: absolute;
	width:280px;
	height:300px;
	top:100px;
	left:1280px;
	box-shadow:8px 8px 20px 1px rgba(211, 72, 72,0.7);
}

/* *******************************************
**************Media Queries*******************
**********************************************
**********************************************/



