
<!DOCTYPE html>
<html>
<head>
  <title>Commitee | Rann KIET</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/com.css')}}">
  <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/7E8D74B1-8218-4645-AFD6-E6E529557CBF/main.js" charset="UTF-8"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kalam|Rock+Salt|Raleway" rel="stylesheet">

<meta name="viewport" content="width=device-width,inital-scale=1.0">

<style>







</style>
</head>
<body>
<nav>
<div class="logo"><a href="/" style=>Rann</a></div>

<div class="com_txt">Commitee</div>

</nav>

<ul class="com_mem_head">
  <li class="com_4 active">Faculty</li> 
  <li class="com_1">Core</li>
  <li class="com_2">Technical</li>
  <li class="com_3">Apex</li>
  


  <!-- <li class="com_5">?????</li>
  <li class="com_6">????</li> -->
</ul>


<div class="abt_cmt abt_cmt_4">

<div class="mem_box">

<div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/sc.PNG')}}" >
        <div class="mem_det">Dr. Sandeep Chabbra  <br>  9412061770<br>Chairman Sports Committee</div>
   </div> 

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/mani_tyagi.jpg')}}" >
        <div class="mem_det">Dr. Mani Tyagi , MBA <br>7017189976<br>Associate Dean SW</div>
   </div>
   
   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/swati.jpg')}}" >
        <div class="mem_det">Ms. Swati <br> EN <br>9015778333<br>Assist Dean SW</div>
   </div>
<div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/Ajay_kumar.jpg')}}" >
        <div class="mem_det">Prof. Ajay Kumar <br>ME   <br>8588811902<br>Volleyball </div>
   </div> 

    <div class="mem_C">
    <img src="{{url_for('static',filename='images/CI/faculty/Ameer_faisal.jpg')}}" >
        <div class="mem_det">Prof. Ameer Faisal <br> EN <br>9310879505 <br>Table Tennis</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/Pushpendra.jpg')}}" >
        <div class="mem_det">Prof. Pushpendra <br>KSOP<br>9999010102 <br>Cricket</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/Amit_arora.jpg')}}" >
        <div class="mem_det">Prof. Amit Arora <br> MBA <br>9868676706 <br> Basketball</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/Sanjeev_sharma.jpg')}}" >
        <div class="mem_det">Prof. Sanjeev Sharma <br> CSE <br>9459297818 <br>PUBG</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/Sartaj_ahmed.jpg')}}" >
        <div class="mem_det">Prof. Sartaj Ahmad <br> IT<br>9582209390<br>Badminton</div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/s.jpg')}}" >
        <div class="mem_det">Prof. Satish Kumar <br> EIE <br> 9871322833 <br>Football</div>
   </div> 

    <div class="mem_C">
    <img src="{{url_for('static',filename='images/CI/faculty/Sanjay_kumar.jpg')}}" >
        <div class="mem_det">Prof . Sanjay Kr. Garg <br> AS<br>9891216004<br>Lawn Tennis</div>
   </div>

    

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/Anurag_gupta.jpg')}}" >
        <div class="mem_det">Prof. Anurag Gupta  <br> ME<br>8881548979<br>Chess</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/Rahat_khan.png')}}" >
        <div class="mem_det">Prof. Rahat U. Khan <br> EN <br>9811210366<br>Carrom</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/N_r.PNG')}}" >
        <div class="mem_det">Prof. N.R. Srivastava <br>ECE<br>9897485404<br>Kho-Kho</div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/amit_kumar.jpg')}}" >
        <div class="mem_det">Prof. Amit Kumar<br>ECE <br>9873367636<br>FIFA</div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/faculty/hitesh.jpg')}}" >
        <div class="mem_det">Mr.Hitesh Kumar Chaddha , HS <br>9990154081<br>Pool</div>
   </div>



   <div class="mem_C">
     <img src="/static/images/CI/faculty/tushar.jpg">
     <div class="mem_det">Mr. Tushar Shukla<br>Sports Officer</div>
   </div>


</div>
</div>

<!-- Core*****************************************************
**************************************************************
***********************************************************-->

<div class="abt_cmt abt_cmt_1 hide">
  
  <br>
    
      
   

  <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/CORE_VikhyatBhatnagar.jpg')}}" >
        <div class="mem_det">Vikhyat Bhatnagar , EC      9453965639 </div>
   </div> 

    <div class="mem_C">
    <img src="{{url_for('static',filename='images/CI/CORE_AyushiShrivastava.jpg')}}">
        <div class="mem_det">Ayushi Srivastava , ME <br> <br></div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/CORE_PrasoonAwasthi.jpg')}}">
        <div class="mem_det">Prasoon Awasthi , CE        8604166007</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/CORE_PragyaSahgal.jpg')}}">
        <div class="mem_det">Pragya Sahgal , EN <br><br></div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/CORE_VinayDubey.jpg')}}">
        <div class="mem_det">Vinay Dubey , ME       9453480764</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/CORE_NikhilSrivastava.jpg')}}">
        <div class="mem_det">Nikhil Srivastava , EN       9458597807</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/CORE_HarshTripathi.jpg')}}">
        <div class="mem_det">Harsh Tripathi  , IT             7895677994</div>
   </div>


    <!-- <img src="images/CORE_Ayushi Shrivastava.jpg')}}">
    <img src="images/CORE_Prasoon Awasthi.jpg')}}">
    <img src="images/CORE_Pragya Sahgal.jpg')}}">
    <img src="images/CORE_Vinay Dubey.jpg')}}">
    <img src="images/CORE_Nikhil Srivastava.jpg')}}">
    <img src="images/CORE_Harsh Tripathi.jpg')}}"> -->
  

     
</div>







<!--TECH ********************************  -->

<div class="abt_cmt abt_cmt_2 hide">
 
<div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/TechnicalTeam_HarshitMohan.jpg')}}">
        <div class="mem_det">Harshit Mohan , EC      7895885770 <br>Apex </div>
   </div> 

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Manish.JPG')}}">
        <div class="mem_det" >Manish Pandey  , CSE  <br><br> <br></div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Rajat.JPG')}}">
        <div class="mem_det" >Rajat Yadav , CSE <br><br><br></div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Lav.jpg')}}">
        <div class="mem_det" >Lav Singh , CSE   <br><br><br></div>
   </div>

    <div class="mem_C">
    <img src="{{url_for('static',filename='images/CI/TechnicalTeam_Mohit.jpg')}}">
        <div class="mem_det">Mohit , IT <br><br><br></div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/TechnicalTeam_PranayGarg.jpg')}}">
        <div class="mem_det">Pranay Garg , CSE  <br><br><br></div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Technical_PrayanshJain.jpg')}}">
        <div class="mem_det">Prayansh Jain , CSE  <br><br><br></div>
   </div>
    

</div>


<!--APEX *************************************************************  -->


<div class="abt_cmt abt_cmt_3 hide">

<div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Football_APEX_MohitKandpal.JPG')}}">
        <div class="mem_det">Mohit Kandpal, ME  <br>Football<br>  7895123378 </div>
   </div> 

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Football_APEX_UnnatiKala.jpg')}}">
        <div class="mem_det">Unnati Kala , IT <br> Football<br><br></div>
   </div>

    

    

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Basketball_APEXSumitBaliyan.jpg')}}">
        <div class="mem_det">Sumit Baliyan  , IT  <br>Basketball <br>    9756403063</div>
   </div>

   <!--  -->

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Basketball_APEX_SmarikaSingh.JPG')}}">
        <div class="mem_det">Smarika Singh, ECE  <br>Basketball<br><br> </div>
   </div> 

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Volleyball_APEX_SanilSingh.jpg')}}">
        <div class="mem_det">Sanil Singh , CE <br> Volleyball<br>9458518986</div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Volleyball_APEX_NidhiGupta.jpg')}}">
        <div class="mem_det">Nidhi Gupta , IT <br>Volleyball<br> <br></div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_LawnTennis_APEX_HimanshuMishra.jpg')}}">
        <div class="mem_det">Himanshu Mishra, EN   <br>Lawn Tennis<br>     7800680977</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_LawnTennis_APEX_PrakamyaSingh.jpg')}}">
        <div class="mem_det">Prakamya Singh , EN <br>Lawn Tennis <br>8006504488</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_TableTennis_APEX_PrekshaAgarwal.jpg')}}">
        <div class="mem_det">Preksha Agarwal , CSE  <br>Table Tennis<br><br></div>
   </div>



    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_TableTennis_APEX_MananMittal.jpg')}}">
        <div class="mem_det">Manan Mittal, CSE   <br>Table Tennis<br>  8430077184</div>
   </div>


   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Cricket_APEX_YamrajPanwar.JPG')}}">
        <div class="mem_det">Yamraj Panwar, EN  <br>Cricket<br>   8218897992</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Cricket_APEX_PawanDeepYadav.jpg')}}">
        <div class="mem_det">Pawandeep Yadav , CE  <br>Cricket<br>      8604357522 </div>
   </div>


    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Chess_APEX_AlokAgarwal.jpg')}}">
        <div class="mem_det">Alok Agarwal , ME  <br>Chess<br> 8474958177</div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Chess_APEX_DeekshaChaudhary.jpg')}}">
        <div class="mem_det">Deeksha Chaudhary, EN <br>Chess<br><br>      </div>
   </div>


   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Badminton_APEX_HimanshuPandey.jpg')}}">
        <div class="mem_det">Himanshu Pandey , CSE   <br>Badminton<br>   9453480764</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Badminton_APEX_ShradhaSingh.jpg')}}">
        <div class="mem_det">Shraddha Singh, CSE      <br>Badminton<br><br> </div>
   </div>
   
    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_KhoKho_APEX_SweetyGupta.jpg')}}">
        <div class="mem_det">Sweety Gupta , M.Tech   <br>Kho Kho <br><br> </div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_KhoKho_APEX_KumarDivyansh.jpg')}}">
        <div class="mem_det">Kumar Divyansh, EN  <br>Kho Kho<br>     9455604450</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Carrom_APEX_AmanTripathi.jpg')}}">
        <div class="mem_det">Aman Tripathi , CE  <br>Carrom<br>     8765815182</div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Pool_APEX_SudhanshuJandial.JPG')}}">
        <div class="mem_det">Sudanshu Jandial, CSE  <br>Pool<br>     9419290029</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/_Pool_APEX_AkshayAgarwal.jpg')}}">
        <div class="mem_det">Akshay Agarwal , IT   <br>Pool<br>       8960651955</div>
   </div>
<!-- ***************************************************************************** -->


  <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Pratyush-Chhibber.jpg')}}">
        <div class="mem_det">Pratyush Chibber  , CSE <br>FIFA<br>      9456380784 </div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Sadiq-Ansari.jpg')}}">
        <div class="mem_det">Sadiq Ansari ,ECE  <br>FIFA<br>       9918049908</div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Avinash-Pratap-Singh.jpg')}}">
        <div class="mem_det">Avinash Pratap Singh.EN  <br>PUBG<br>    9621353531</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Piyush-Kumar-Pathak.jpg')}}">
        <div class="mem_det">Piyush Pathak ,EN <br>PUBG<br>       7417900927</div>
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/AnmolChaudhary.JPG')}}">
        <div class="mem_det">Anmol Chaudhary <br> CSE   <br>PR + Sponsorship<br>      8958077377</div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Sahil.jpg')}}">
        <div class="mem_det">Sahil  <br> CE  <br>PR + Sponsorship<br>    9760407326   </div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Shubham-Khare.jpg')}}">
        <div class="mem_det">Shubham Khare <br> ECE <br>Registration<br>      9198978863</div>
   </div>




   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Suyash-Yadav.jpg')}}">
        <div class="mem_det">Suyash Yadav <br>CSE <br>Registration<br>      8318659608</div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Vikash-Vishwakarma.jpg')}}">
        <div class="mem_det">Vikas Vishwakarma , ECE<br>Accomodation<br>     9458523106 </div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Krati-Rastogi.jpg')}}">
        <div class="mem_det">Krati Rastogi , EIE <br>Accomodation<br>  <br>    </div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/AnandManiTripathi.jpg')}}">
        <div class="mem_det">Anand Mani , ME <br>Refreshment<br>       9760963652</div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Gaurav-Kumar-Pathak.jpg')}}">
        <div class="mem_det">Gaurav Pathak , CE <br>Inauguration<br>       8937890485</div>
   </div>


   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Pallavi-Upadhyay.jpg')}}">
        <div class="mem_det">Pallavi Upadhyay, ME  <br>Inauguration<br>   <br> </div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Nikeeta-Kumari.jpg')}}">
        <div class="mem_det">Nikeeta Kumari , EIE <br>Inauguration<br> <br>  </div>
   </div>

   <div class="mem_C">
        <img src="{{url_for('static',filename='images/CI/Saumya-Sharma.jpg')}}">
        <div class="mem_det">Saumya Sharma , ME<br>Decoration<br>     </div>
   </div>


</div>

<!-- ***************************** -->


<div class="abt_cmt abt_cmt_5 hide">
<div class="mem_box">
E
</div>
</div>

<div class="abt_cmt abt_cmt_6 hide">
<div class="mem_box">
F
</div>
</div>






<script>
 

  $(".com_1").click(function() {
            $(".abt_cmt_1").removeClass("hide");
            $(".abt_cmt_2").addClass("hide");
            $(".abt_cmt_3").addClass("hide");
            $(".abt_cmt_4").addClass("hide");
            $(".abt_cmt_5").addClass("hide");
            $(".abt_cmt_6").addClass("hide");

            $(".com_1").addClass("active");
            $(".com_2").removeClass("active");
            $(".com_3").removeClass("active");
            $(".com_4").removeClass("active");
            $(".com_5").removeClass("active");
            $(".com_6").removeClass("active");
        });

  $(".com_2").click(function() {
            $(".abt_cmt_1").addClass("hide");
            $(".abt_cmt_2").removeClass("hide");
            $(".abt_cmt_3").addClass("hide");
            $(".abt_cmt_4").addClass("hide");
            $(".abt_cmt_5").addClass("hide");
            $(".abt_cmt_6").addClass("hide");

            $(".com_1").removeClass("active");
            $(".com_2").addClass("active");
            $(".com_3").removeClass("active");
            $(".com_4").removeClass("active");
            $(".com_5").removeClass("active");
            $(".com_6").removeClass("active");
        });

  $(".com_3").click(function() {
            $(".abt_cmt_1").addClass("hide");
            $(".abt_cmt_2").addClass("hide");
            $(".abt_cmt_3").removeClass("hide");
            $(".abt_cmt_4").addClass("hide");
            $(".abt_cmt_5").addClass("hide");
            $(".abt_cmt_6").addClass("hide");

            $(".com_1").removeClass("active");
            $(".com_2").removeClass("active");
            $(".com_3").addClass("active");
            $(".com_4").removeClass("active");
            $(".com_5").removeClass("active");
            $(".com_6").removeClass("active");
        });


  $(".com_4").click(function() {
            $(".abt_cmt_1").addClass("hide");
            $(".abt_cmt_2").addClass("hide");
            $(".abt_cmt_3").addClass("hide");
            $(".abt_cmt_4").removeClass("hide");
            $(".abt_cmt_5").addClass("hide");
            $(".abt_cmt_6").addClass("hide");

            $(".com_1").removeClass("active");
            $(".com_2").removeClass("active");
            $(".com_3").removeClass("active");
            $(".com_4").addClass("active");
            $(".com_5").removeClass("active");
            $(".com_6").removeClass("active");
        });


  $(".com_5").click(function() {
            $(".abt_cmt_1").addClass("hide");
            $(".abt_cmt_2").addClass("hide");
            $(".abt_cmt_3").addClass("hide");
            $(".abt_cmt_4").addClass("hide");
            $(".abt_cmt_5").removeClass("hide");
            $(".abt_cmt_6").addClass("hide");

            $(".com_1").removeClass("active");
            $(".com_2").removeClass("active");
            $(".com_3").removeClass("active");
            $(".com_4").removeClass("active");
            $(".com_5").addClass("active");
            $(".com_6").removeClass("active");
        });

  $(".com_6").click(function() {
            $(".abt_cmt_1").addClass("hide");
            $(".abt_cmt_2").addClass("hide");
            $(".abt_cmt_3").addClass("hide");
            $(".abt_cmt_4").addClass("hide");
            $(".abt_cmt_5").addClass("hide");
            $(".abt_cmt_6").removeClass("hide");

            $(".com_1").removeClass("active");
            $(".com_2").removeClass("active");
            $(".com_3").removeClass("active");
            $(".com_4").removeClass("active");
            $(".com_5").removeClass("active");
            $(".com_6").addClass("active");
        });
   

</script>
</body>
</html>
