<!DOCTYPE html>
<html>
<head>
	<title>Rann 2019 | Gallery</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/gallery.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Kalam|Rock+Salt|Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">


</head>
<body>

<nav>
<div class="logo"><a href="/" style="">Rann</a></div>

<div class="gal_txt">Gallery</div>

</nav>

<div class="gallery_box">
	<img src="{{url_for('static',filename='images/gallery/1.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/2.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/3.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/4.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/5.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/6.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/7.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/8.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/9.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/10.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/11.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/12.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/13.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/14.jpg')}}">
	<img src="{{url_for('static',filename='images/gallery/15.jpg')}}">

</div>


</body>
</html>