<!DOCTYPE html>
<html>
<head>
	<title>Rann 2019 | KIET</title>


<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
<link href="https://fonts.googleapis.com/css?family=Raleway|Rock+Salt" rel="stylesheet">

</head>
<body>


 <video autoplay muted loop class="bgVideo">
  <source src="{{url_for('static',filename='images/Teaser.mp4')}}" type="video/mp4">
</video>


<div class="kiet_logo">
	<img src="{{url_for('static',filename='images/kietlogo.png')}}">
</div>

<div id="myNav" class="overlay">


  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


  <div class="overlay-content">
    <a href="#aboutsection">About</a>
    <a href="#">Help</a>
    <a href="/committee">Committee</a>
    <a href="/loginpage/direct">Login</a>
  </div>

</div>

<span onclick="openNav()" class="menu">
<div></div>
<div></div>
<div></div>
</span>



<div class="crow">
	<img src="{{url_for('static',filename='images/crowred.gif')}}"><br>
	<div class="rann_logo">Rann'19</div>
</div>


<div class="abt_rann">
	<div class="abt_rann_txt">About Rann</div>
	<div class="abt_rann_cont">
		Discover unique adventures to experience with people near you
		Do amazing things! Meet awesome people!
		Search around interests, date or location settings
		Create an adventure and get new people together
		OFFICIAL SPONSOR OF RANN 2019
	</div>
</div>




<div class="events_box">
	<div class="events_wrap">	
		<div class="events_txt">
			<div style="transform:skew(18deg);">Events</div>
		</div>
		<div class="events">
			<div class="events_name">
				<a href="/events/Cricket"><img src="{{url_for('static',filename='images/cricket.png')}}" class="cricket"></a>
				<a href="/events/Football"><img src="{{url_for('static',filename='images/football.png')}}"></a>
				<a href="/events/Badminton"><img src="{{url_for('static',filename='images/badminton.png')}}"></a>
				<a href="/events/Carrom"><img src="{{url_for('static',filename='images/carrom.png')}}"></a>
				<a href="/events/Lawntennis"><img src="{{url_for('static',filename='images/tennis.png')}}"></a>
				<a href="/events/Chess"><img src="{{url_for('static',filename='images/chess.png')}}" class="chess"></a>
				<a href="/events/Basketball"><img src="{{url_for('static',filename='images/basketball.png')}}"></a>
				<a href="/events/Tabletennis"><img src="{{url_for('static',filename='images/tt.png')}}"></a>
				<a href="/events/Khokho"><img src="{{url_for('static',filename='images/khokho.png')}}" class="khokho"></a>
				<a href="/events/Pool"><img src="{{url_for('static',filename='images/pool.png')}}"></a>
				<a href="/events/Volleyball"><img src="{{url_for('static',filename='images/volley.png')}}"></a>
			</div>
		</div>
	</div>
</div>

<div class="sp_guest_box">
	
		<div class="sp_guest_txt">
			<div style="transform:skew(18deg);">Special Guest</div>
		</div>
		<div class="sp_guest">
			<div class="sp_guest_name">
				<<!-- img src="images/pubg.jpg" class="hover flex">
 				<img src="images/fifa2.jpg" class="hover flex"> -->
			</div>
		</div>
	
</div>


<div class="abt_kiet">
	<div class="abt_kiet_cont">
		Krishna Institute of Engineering & Technology (KIET) was established in 1998 by Krishna Charitable Society at Ghaziabad, U.P. It is located at Ghaziabad – Meerut Road. Presently KIET Group of Institutions has more than 5600 students on its roll, a substantial growth in 20 years, to meet the need of quality technical education in U.P.<br><br>
		The institute has gained a distinct image as an outstanding educational colossal among technical institutions of Uttar Pradesh, due to its inclination towards innovative and skill-based education. It's consistent belief in 'Achieving High' is aptly reflected in its academics, extracurricular activities and placements.
	</div>
</div>


<div class="fun_events_box">
	
		<div class="fun_events_txt">
			<div style="transform:skew(18deg);">Fun Events</div>
		</div>
		<div class="fun_events">
			<div class="fun_events_name">
				<img src="{{url_for('static',filename='images/pubg.jpg')}}" class="hover flex">
 				<img src="{{url_for('static',filename='images/fifa2.jpg')}}" class="hover flex">
			</div>
		</div>
	
</div>

<!-- Message  -->

	<div class="dir_msg">
		<img src="{{url_for('static',filename='images/dir_pic.jpg')}}" class="dir_pic">
		<div class="dir_msg_cont"><br>
			<div class="dir_msg_txt">Message From Director</div><br>
			<font style="font-size:2em;">S</font>haping young minds with skill-oriented and value-based education’- these words acceptably symbolize the mission and execution of KIET Group of Institutions. The Group aspires to advance knowledge and educate students in various disciplines of engineering, management, computer applications and pharmacy. 
There is also focus in other areas of learning like Innovation labs, business incubation, open projects, hobby clubs etc. to ensure that students on passing out become industry ready in its actual spirit. An environment has been given to the students to follow approach “Ideate-Create-Incubate” which has resulted to creation of large number of student owned companies within the campus. In addition, there is regular impetus on impart of right human values and professional ethics which is a basic fundamental attribute to be possessed by all students.<br><br>
KIET’s spirit of developing technical resources for the nation and to serve the society through insurmountable commitmentof its students & alumni is growing with each passing year.  The Group instills an “attitude to excel” in the students in whatever they do which stimulates them to realize their passion with excellence. 
KIET Group of Institutions extends all feasible resources to make a learning environment conducive to students’ aspirations. The Group strives hard to groom students in multi-dimensional areas so that they become confident enough to confront the challenges with confidence and contribute effectively in nation building.

		</div>
	</div>



	<div class="dir_ad_msg">
		<img src="{{url_for('static',filename='images/dir_ad_pic.jpg')}}" class="dir_ad_pic">
		<div class="dir_ad_msg_cont"><br>
			<div class="dir_ad_msg_txt">Message From Director (Admin) </div><br>
			<font style="font-size:2em;">I</font>t is our pleasure that you have chosen KIET Group of Institutions as your place of learning as you embark on your journey to achieve a successful career.
Education is the base for building a good nation and we feel proud to be the contributor of such transformational nation. We get encouragement, looking at the bright and successful career of our students, which subsequently benefit the society. We feel proud that we are shaping modern India.<br><br>
In order to accomplish our vision and mission, we leave no stone unturned to prepare and hone our student’s aptitude and skills and train our inexperienced young birds for their flight in the professional world. The institute ventures to provide funding to its students’ innovation and research based projects. We have created and facilitated copious Centres of Excellence for application developments for iOS and networking expertise of students. 
We, at KIET, take care of the contentment of all KIETians. All stakeholders take pleasure in their work with complete sincerity and dedication as we undertake to cater to their interest and creativity providing them maximum motivation. 
I welcome you all and fervently hope that years you spend at the institute may make you witness a unique blend of strategic thinking and innovative strategy-based curriculum and have a meticulous learning experience.
All the best!

		</div>
	</div>



<script>
/* Open */
function openNav() {
  document.getElementById("myNav").style.height = "100%";
}

/* Close */
function closeNav() {
  document.getElementById("myNav").style.height = "0%";
}
</script>

</body>
</html>