
<!DOCTYPE html>
<html>
<head>
  <title>Sponsors | Rann KIET</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/sponsors.css')}}">
  <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/7E8D74B1-8218-4645-AFD6-E6E529557CBF/main.js" charset="UTF-8"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kalam|Rock+Salt|Raleway" rel="stylesheet">

<meta name="viewport" content="width=device-width,inital-scale=1.0">

<style>







</style>
</head>
<body>
<nav>
<div class="logo"><a href="/" style=>Rann</a></div>

<div class="com_txt">Sponsors</div>

</nav>

<br><br><br><br><br>


<div class="abt_cmt abt_cmt_4">

<div class="mem_box">
 
    <div class="mem_C">
        <img src="{{url_for('static',filename='images/sponsors/decathlon.png')}}" >
       
   </div>

    <div class="mem_C">
        <img style="transform: scale(1.5);" src="{{url_for('static',filename='images/sponsors/tata.png')}}" >
        
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/sponsors/ktm.png')}}" >
        
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/sponsors/vw.png')}}" >
        
   </div>



<div class="mem_C">
        <img src="{{url_for('static',filename='images/sponsors/wow.png')}}" >
        
   </div> 

    <div class="mem_C">
    <img src="{{url_for('static',filename='images/sponsors/nac.png')}}" >
        
   </div>

    

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/sponsors/travelufo.png')}}" >
        
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/sponsors/sob.png')}}" >
        
   </div>

    <div class="mem_C">
        <img src="{{url_for('static',filename='images/sponsors/yp.png')}}" >
        
   </div>


  
    


   

</div>
</div>


  
</body>
</html>