<!DOCTYPE html>
<html>
<head>
	<title>Rann 2019 | KIET</title>


<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />


<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true"> -->
<link rel="stylesheet" href="{{url_for('static',filename='css/homt.css')}}">



<link href="https://fonts.googleapis.com/css?family=Raleway|Rock+Salt|Fugaz+One|Charm" rel="stylesheet">

<link rel="stylesheet" href="{{url_for('static',filename='css/homerest.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/homerestsp.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/homereslogo.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/homeresdir.css')}}">
 
<!--   <link rel="stylesheet" media="screen" href="{{url_for('static',filename='css/style.css')}}">
 --><style>
.abt_kiet{
	background:url({{url_for('static',filename='images/kiet.jpg')}}) fixed no-repeat;
	background-size:cover;
}

/*body{
	background:url("{{url_for('static',filename='images/bg2.gif')}}") fixed no-repeat;
	background-size:cover;

}*/


.sp_guest_box{
	background:url({{url_for('static',filename='images/sp_guest.jpg')}}) fixed no-repeat;
	background-size:cover;
}

</style>




<script>
        function myFunction()
        {
            document.getElementById("body_cont").style.display = "block";
            document.getElementById("loading").style.display = "none";
        }
    </script>


</head>
<body onload="myFunction()">


<div id="particles-js"></div>

<div id="body_cont">




<div class="kiet_logo">
<img src="{{url_for('static',filename='images/kietlogo.png')}}" style="z-index:999999;">
</div>



	<div class="last_date">Last Date for Registration : 28 Feb 2019</div>

<div id="myNav" class="overlay">


  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


  <div class="overlay-content">
    <a href="/gallery">Gallery</a>
    <a href="/sponsors">Sponsors</a>
    <a href="/committee">Committee</a>
    <a href="/loginpage/direct">Login</a>
  </div>

</div>

<span onclick="openNav()" class="menu">
<div></div>
<div></div>
<div></div>
</span>


<!--  <video autoplay muted loop class="bgVideo">
  <source src="{{url_for('static',filename='images/1080.mp4')}}" type="video/mp4">
</video> -->





<div class="crow">
	<img src="{{url_for('static',filename='images/crowred.gif')}}"><br>
	<div class="rann_logo">Rann'19</div>
</div>


<div class="sponsors">
<ul>
	<li class="s_txt">Sponsored By:</li>
	<li><img style="transform: scale(1);" src="{{url_for('static',filename='images/sponsors/decathlon.png')}}" ></li>
	<li><img style="transform: scale(1.2);" src="{{url_for('static',filename='images/sponsors/tata.png')}}"></li>
	<li><img style="transform: scale(1);" src="{{url_for('static',filename='images/sponsors/ktm.png')}}"></li>
	<li><img style="transform: scale(0.7);position:relative;top:30px;" src="{{url_for('static',filename='images/sponsors/vw.png')}}"></li>
	<li><img style="transform: scale(1);" src="{{url_for('static',filename='images/sponsors/wow.png')}}"></li>
</ul>
</div>


<div class="abt_rann">
	<div class="abt_rann_txt">About Rann</div>
	<div class="abt_rann_cont">
RANN The National Level Sports Fest of KIET Group of Institutions is a three days mega event with participants from more than 30 reputed colleges. It is aimed at leading by example of  sportsmanship. 
Rann infuses passion in veins and emboldens the action being performed.
	</div>
</div>




<div class="events_box">
	<div class="events_wrap">	
		<div class="events_txt">
			<div style="transform:skew(18deg);">Events</div>
		</div>
		<div class="events">
			<div class="events_name">

				<a href="/events/Cricket"><img src="{{url_for('static',filename='images/cricket.png')}}" class="cricket"></a>
				<a href="/events/Football"><img src="{{url_for('static',filename='images/football.png')}}"></a>
				<a href="/events/Badminton"><img src="{{url_for('static',filename='images/badminton.png')}}"></a>
				<a href="/events/Carrom"><img src="{{url_for('static',filename='images/carrom.png')}}"></a>
				<a href="/events/Lawntennis"><img src="{{url_for('static',filename='images/tennis.png')}}"></a>
				<a href="/events/Chess"><img src="{{url_for('static',filename='images/chess.png')}}" class="chess"></a>
				<a href="/events/Basketball"><img src="{{url_for('static',filename='images/basketball.png')}}"></a>
				<a href="/events/Tabletennis"><img src="{{url_for('static',filename='images/tt.png')}}"></a>
				<a href="/events/Khokho"><img src="{{url_for('static',filename='images/khokho.png')}}" class="khokho"></a>
				<a href="/events/Pool"><img src="{{url_for('static',filename='images/pool.png')}}"></a>
				<a href="/events/Volleyball"><img src="{{url_for('static',filename='images/volley.png')}}" class="volley"></a>
			</div>
		</div>
	</div>
</div>

<div class="sp_guest_box">
	
		<div class="sp_guest_txt">
			<div style="transform:skew(18deg);">Special Guest</div>

			<div class="tba">  </div>
		</div>
		<div class="sp_guest">
			<img src="/static/images/poster.jpg" style="width:100%;height:518px;margin-top:-40px;" >
		</div>
	
</div>


<div class="abt_kiet">
	<div class="abt_kiet_cont">
		Krishna Institute of Engineering & Technology (KIET) was established in 1998 by Krishna Charitable Society at Ghaziabad, U.P. It is located at Ghaziabad – Meerut Road. Presently KIET Group of Institutions has more than 5600 students on its roll, a substantial growth in 20 years, to meet the need of quality technical education in U.P.<br>
		The institute has gained a distinct image as an outstanding educational colossal among technical institutions of Uttar Pradesh, due to its inclination towards innovative and skill-based education. It's consistent belief in 'Achieving High' is aptly reflected in its academics, extracurricular activities and placements.
	</div>
</div>


<div class="fun_events_box">
	
		<div class="fun_events_txt">
			<div style="transform:skew(18deg);">Fun Events</div>
		</div>
		<div class="fun_events">
			<div class="fun_reg_btns">
				<a href="/events/Pubg"><button class="pubg_reg_btn">Register For PUBG</button></a>
				<a href="/events/Fifa"><button class="fifa_reg_btn">Register For FIFA</button></a>
			</div>
			<div class="fun_events_name">

				<img src="{{url_for('static',filename='images/pubg.jpg')}}" class="hover flex p1">
				<a href="/events/Pubg"><img src="{{url_for('static',filename='images/pubg.jpg')}}" class="pubg"></a>


 				<img src="{{url_for('static',filename='images/fifa18.jpg')}}" class="hover flex f1"> 
 				<a href="/events/Fifa"><img src="{{url_for('static',filename='images/fifa18.jpg')}}" class="fifa"> </a>

			</div>
		</div>
	
</div>

<!-- Message  -->




<div class="msg_pics">
	<img src="{{url_for('static',filename='images/CI/faculty/dir_pic.jpg')}}" >
	<img src="{{url_for('static',filename='images/CI/faculty/dir_ad_pic.jpg')}}">
	<img src="{{url_for('static',filename='images/CI/faculty/dean_pic.jpg')}}"> 
</div>


<div class="msg">

	<div class="dir">
		<div >  
			<span style="font-size:1.4em;margin-left:250px;">Message From Dr. (Col) A. Garg (Director)</span><br>
	Besides the academic activities Students would like to get relieved and focus on fun and physique. Sports activities help the students to keep them fit both mentally and physically. The institution provides abundant facilities for the students to get accustomed with the varied sports activities like Basket Ball, Football , Cricket, Kho-Kho, Volley Ball and indoor games like Badminton, Chess, Carrom, Table Tennis . Our students know all the angles, to bring laurels to the college and themselves.ALL THE BEST to all the participants.
			
		</div>

	<div class="dir_ad">
			<span style="font-size:1.4em;margin-left:250px;">Message From Dr. Manoj Goel (Joint Director)</span><br>
			
		The mission of the Institution is to provide a broad spectrum of sports, recreation and leisure activities for students, staff and faculty, as well as members of the local community. The primary direction is to provide services and programs that stimulate growth, development and retention of students in a contemporary and safe environment that develops fitness and wellness, social interaction and leadership opportunities.	</div>

	<div class="dean">
			<span style="font-size:1.4em;margin-left:250px;">Message From Dr. Rajesh Mishra (Dean (SW))</span><br>
		
		The most awaited inter college annual sports fest ‘RANN-19’of KIET Group of
Institutions , Ghaziabad for the academic year 2018-19 is going to start from 2 nd to
4 th march, 2019. I wish all the best to participants of RANN-19. Wishing you all
the best for all future endeavors. Have a wonderful stay and do best in the
competition, my best wishes are with you. <br><br><br></div>


</div>

<!-- 
<div class="conv_box">
		<div class="conv_txt">
			<div style="transform:skew(18deg);">Convener</div>
		</div>	

		<div class="conv">

		<img src="{{url_for('static',filename='images/CI/pramod_sir.jpg')}}">
		<img src="{{url_for('static',filename='images/CI/pramod_sir.jpg')}}">
	</div>
</div>
 -->
</div>

<div class="conv_box">
		<div class="conv_txt">Convener</div>
	<div class="conv">

		<img src="{{url_for('static',filename='images/CI/faculty/pramod_sir.jpg')}}">
		<img src="{{url_for('static',filename='images/CI/faculty/brijesh_tiwari.jpg')}}">
	</div>
</div>


<!-- .............. -->

</div> <!-- loading wrap ends -->

<!-- .... -->

<div id="loading">
	<div  class="load_icon"><img src="{{url_for('static',filename='images/load.gif')}}"></div>
    </div>
    


<script src="{{url_for('static',filename='js/particles.js')}}"></script>
<script src="{{url_for('static',filename='js/app.js')}}"></script>




<script>
/* Open */
function openNav() {
  document.getElementById("myNav").style.height = "100%";
}

/* Close */
function closeNav() {
  document.getElementById("myNav").style.height = "0%";
}
</script>




</body>

</html>